@import '../node_modules/bootstrap/scss/bootstrap.scss';
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 5px rgb(238, 238, 238);
    margin-bottom: 2vh;
}

h1 {
    margin-left: 3vh;
    font-size: 5vh;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox {
    margin-left: 0;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.searchBar {
    width: 50vh;
    height: 5vh;
}

.searchBtn {
    height: 5vh;
    width: 10vh;
}

.pokedexList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: max-content;
    background-color: whitesmoke;
    border-radius: 0.3vh;
}

.tEntry {
    background-color: white;
    border-radius: 0.3vh;
    margin: 1vh;
    width: 32vh;
    height: auto;
    border-bottom: 0.1vh solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 0 0 0.2vh black;
}

.tImage {
    align-self: center;
    object-fit: contain;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 28vh;
    height: 28vh;
}

.tEntryName {
    margin-left: 1vh;
    font-size: 3vh;
}

.tEntryDesc {
    margin-left: 1vh;
    margin-bottom: 3vh;
    font-size: 1.5vh;
    padding-right: 2vh;
    color: rgb(17, 17, 17);
}