@import '../node_modules/bootstrap/scss/bootstrap.scss';
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
    overflow-y: scroll;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 5px rgb(238, 238, 238);
    margin-bottom: 2vh;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}

.pokeball {
    width: 6vh;
    height: 6vh;
    margin-left: 2vh;
    margin-right: 1vh;
}

.headtext {
    font-size: 5vh;
    color: black;
    cursor: pointer;
}

.headtext:hover {
    color: black;
}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: auto;
}

.searchBox {
    display: flex;
    gap: 1vh;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.searchBar {
    border-radius: 0.3vh;
    border: 0;
    padding-left: 1vh;
    width: 50vh;
    height: 5vh;
}

.searchBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3vh;
    height: 5vh;
    width: 5vh;
}

.fa-search {
    width: 1.8vh;
    height: 1.8vh;
}

.pokedexList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    height: max-content;
}

.pEntry {
    background-color: white;
    border-radius: 0.3vh;
    margin: 1vh;
    width: 32vh;
    height: auto;
    border-bottom: 0.1vh solid rgb(235, 235, 235);
    display: flex;
    flex-direction: column;
    align-items: left;
    box-shadow: 0 0 0.2vh black;
}

.pImage {
    align-self: center;
    object-fit: contain;
    margin-top: 2vh;
    margin-bottom: 2vh;
    width: 28vh;
    height: 28vh;
}

.pEntryName {
    margin-left: 1vh;
    font-size: 3vh;
}

.pEntryDesc {
    margin-left: 1vh;
    margin-bottom: 3vh;
    font-size: 1.5vh;
    padding-right: 2vh;
    color: rgb(17, 17, 17);
}

.pNextEv {
    margin-top: 0;
    margin-left: 1vh;
    font-size: 1.5vh;
    padding-right: 2vh;
    color: rgb(17, 17, 17);
    font-weight: bold;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    background-color: rgb(238, 238, 238);
    box-shadow: 0 0 5px rgb(238, 238, 238);
    margin-top: 2vh;
}

.ftrtext {
    color: black;
    font-size: 1.5vh;
    font-weight: 500;
}